*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:linear-gradient(
180deg,
#ffd6e7,
#fff0f5);

font-family:Arial;

overflow-x:hidden;

}

section{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:30px;

text-align:center;

}

.hero h1{

font-size:60px;

color:#ff4f81;

}

.hero h2{

font-size:35px;

margin:20px;

}

button{

padding:15px 40px;

border:none;

background:#ff4f81;

color:white;

border-radius:20px;

font-size:20px;

cursor:pointer;

margin-top:20px;

}

.gallery{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

.gallery img{

width:100%;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

transition:.5s;

}

.gallery img:hover{

transform:scale(1.05);

}

.message{

font-size:22px;

line-height:2;

max-width:800px;

}

.ending h1{

font-size:70px;

color:#ff4f81;

}
